__pycache__/
*.pyc
.DS_Store

game_log.txt
llm_log.txt
player1.txt
player2.txt
player3.txt
player4.txt
spot_llm.txt
spot_run.txt

spots_temporary/
spot_results/
spot_results_heuristic/
spot_results_random/
spot_results_40/*/*/llm_outputs/
